<h2 class="title">Автоматизируйте</h2>
<hr>
<p>Настройте продвинутые правила для управления устройствами и вдохните жизнь в Ваш дом.</p>
<p>Хотели бы Вы, чтобы &hellip;</p>
<ul>
  <li>свет включался, когда солнце заходит за горизонт, а вы находитесь дома?</li>
  <li>свет включался, когда кто-либо приходит домой в тёмное время суток?</li>
  <li>свет становился приглушённым, когда Вы начинаете смотреть фильм?</li>
  <li>Вам приходило оповещение, когда свет в доме включается во время Вашего отсутствия?</li>
</ul>
<p><a href='/getting-started/automation/'>Мы знаем, что Вам нужно.</a></p>
<p><a href='/cookbook/'>Посмотреть примеры сообщества.</a></p>
