<ul class="menu pull-right">
  {% comment %}
    Example dropdown menu
    <li>
      <a>Getting started <i class="icon icon-caret-down"></i></a>
      <ul>
        <li><a href="/getting-started/">Installing Home Assistant</a></li>
        <li><a href="/getting-started/configuration/">Configuration Basics</a></li>
      </ul>
    </li>
  {% endcomment %}
  <li><a href="/getting-started/">Начало работы</a></li>
  <li><a href="/components/">Компоненты</a></li>
  <li><a href="/docs/">Документация</a></li>
  <li><a href="/cookbook/">Примеры</a></li>
  <li><a href="/developers/">Разработка</a></li>
  <li><a href="/blog/">Помощь</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
