 <h1>Пробудите свой дом</h1>
 <p class="lead">
Home Assistant представляет из себя систему домашней автоматизации с открытым исходным кодом, написанную на Python 3. Отслеживайте и управляйте всеми своими устройствами в доме, а также автоматизируйте само управление. Идеально подходит для работы на Raspberry Pi.
</p>

<p class='hero-buttons'>
  <a href='{{ root_url }}/getting-started/'>Приступить к работе</a>
  <a href='{{ root_url }}/demo/' target='_blank'>Демо</a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'>Код на GitHub</a>
</p>
