---
layout: page
date: 2014-12-18 22:39
comments: false
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
regenerate: true
hide_github_edit: true
description: Cистема домашней автоматизации с открытым исходным кодом, написанная на Python 3. Отслеживайте и управляйте всеми своими устройствами в доме, а также автоматизируйте само управление. Установка займёт меньше минуты.
---

{% assign recent_release_post = site.categories['Release-Notes'].first %}

<div class="frontpage">
  <div class="grid">
    <div class="grid__item one-third lap-one-third palm-one-whole">
      <div class='current-version material-card text'>
        <h1>Текущая версия: {{ site.current_major_version }}.{{ site.current_minor_version }}.{{ site.current_patch_version }}</h1>
<!--         Дата выпуска: <span class='release-date'>{{ site.date_released | date: '%B %d, %Y' }}</span> -->
        Дата выпуска: <span class='release-date'>
                        {{ site.date_released | date: "%-d" }}
                        {% assign month = site.date_released | date: '%-m' %}
                        {% case month %}
                          {% when '1' %}января
                          {% when '2' %}февраля
                          {% when '3' %}марта
                          {% when '4' %}апреля
                          {% when '5' %}мая
                          {% when '6' %}июня
                          {% when '7' %}июля
                          {% when '8' %}августа
                          {% when '9' %}сентября
                          {% when '10' %}октября
                          {% when '11' %}ноября
                          {% when '12' %}декабря
                        {% endcase %}
                        {{ site.date_released | date: "%Y" }}
                      </span>

        <div class='links'>
          <a href='{{ root_url }}{{ recent_release_post.url }}{{ site.patch_version_notes }}'>Информация о выпуске</a>
        </div>
      </div>
      <div class='join-community material-card text'>
        <h1>Присоединиться к сообществу</h1>
        Мы любим помогать и говорить о домашней автоматизации.

        <div class='links'>
          <a href='https://community.home-assistant.io'>Форум</a>
          <a href='https://discord.gg/c5DvZ4e'>Чат</a>
          <a href='https://t.me/homassistant'>Telegram-чат</a>
        </div>
      </div>
      <div class='material-card text'>
        <h1>Alexa, включи свет</h1>
        Используйте Alexa для управления Home Assistant.

        <div class='links'>
          <a href='/cloud/'>Подробнее</a>
        </div>
      </div>

      <a class='material-card highlight-blog-post' href='/blog/2016/01/19/perfect-home-automation/'>
        Прочитайте видение идеальной домашней автоматизации от основателя Home Assistant <i class="icon-arrow-right"></i>
      </a>
    </div>
    <div class="grid__item two-thirds lap-two-thirds palm-one-whole">
      <div class='recent-posts material-card text'>
        <h1>Свежие записи в блоге</h1>

        {% for post in site.posts limit: 3 %}
          <li class="post">
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
            <small class='blog-date'>{{ post.date_formatted }}</small>
          </li>
        {% endfor %}
      </div>

      <a class='material-card highlight-blog-post large' href='/blog/2017/07/25/introducing-hassio/'>
        Узнайте, как Hass.io может превратить Ваш Raspberry Pi в полноценный центр домашней автоматизации <i class="icon-arrow-right"></i>
      </a>

      <a class='material-card shirt-promo' href='/blog/2017/02/22/home-assistant-tshirts-have-arrived/'>
        <div class='caption'>
          <div class='title'>
            Join the Home Assistant t-shirt revolution!
          </div>
          <div class='subtitle'>
            All proceeds will be donated to the Electronic Frontier Foundation.
          </div>
        </div>
      </a>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-eye-open"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_left.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-mobile-phone"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_middle.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-cogs"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
         {% include custom/grid_item_right.html %}
        </div>
      </div>
    </div>

    <div class="seen-press grid__item one-whole lap-one-whole palm-one-whole">
      <div class="material-card">
        <h1>Home Assistant в прессе</h1>

        <a href='https://www.producthunt.com/posts/home-assistant'><img src='/images/press/producthunt.com.png' alt='ProductHunt.com logo'></a>

        <a href='https://www.linux.com/news/home-assistant-python-approach-home-automation-video'><img src='/images/press/linux.com.png' alt='Linux.com logo'></a>

        <a href='https://www.wired.com/2016/07/now-can-hide-smart-home-darknet/'><img src='/images/press/wired.com.svg' alt='Wired.com logo'></a>

        <a href='https://opensource.com/article/17/7/home-automation-primer'><img src='/images/press/opensource.com.svg' alt='OpenSource.com logo'></a>

        <a href='http://www.linux-magazine.com/Issues/2017/203/Home-Assistant'><img src='/images/press/LinuxMagazine.png' alt='Linux Magazine logo'></a>

        <a href='https://www.heise.de/ct/ausgabe/2017-26-Hausautomations-Schaltzentrale-Home-Assistant-3909532.html'><img src='/images/press/ct.png' alt='Ct logo'></a>

      </div>
    </div>
  </div>
</div>
